#menu-posts-mm-class .wp-menu-image {padding-top: 6px; height: 15px !important;}
#menu-posts-mm-class  .wp-menu-image:after {font-family: FontAwesome; font-size: 18px; display: block; margin: 3px 0 0 0; color: #f0f0f0; content: "ÔÜù";}